body {
  background-color: lightgrey;
  font-family: "Arial Black", Helvetica, sans-serif;
  font-size: 16;
  color: black;
}

#map {
  aspect-ratio: 16/9;
}

#container {
  display: flex;
  flex-direction: row;
}

#map,
#form-container {
  flex: 1;
  padding: 10px;
}

#form-container {
  /* Optional, adds a background to the form container */
  background-color: #f0f0f0;
}

#io-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.io-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  /* Optional spacing between rows */
}

.io-item label {
  margin-top: 5px;
  margin-right: 10px;
  /* Optional spacing between label and input */
  min-width: 110px;
  /* Set a minimum width for the label */
}
.io-item input {
  margin-left: 10px;
  margin-right: 10px;
}

.io-item select, input {
  width: 150px
}

#resolution-checkbox {
  width: auto;
}

#resolution-input {
  display: flex;
}

#resolution-input input {
  width: 50%
}

/* Responsive layout - makes a one column layout instead of a two-column layout */
@media (max-width: 800px) {
  #container {
      flex-direction: column;
      align-items: center;

  }
  #form-container{
    width: 100%;
  }
  #map {
    width:100%
  }
}
